<div class="faq" name="faq" id="faq">
  <div class="container">
    <div class="faq_title">
      <h3>Dúvidas Frequentes</h3>
    </div>
    <div class="faq_boxes">
      <span class="tab">
        <input id="tab-one" type="checkbox" name="tabs">
        <label for="tab-one">Tenetur architecto explicabo perferendis</label>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
      </span>
      <span class="tab">
        <input id="tab-two" type="checkbox" name="tabs">
        <label for="tab-two">Obcaecati soluta molestias iure facere dolorum</label>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
      </span>
      <span class="tab">
        <input id="tab-three" type="checkbox" name="tabs">
        <label for="tab-three">Sunt pariatur illo obcaecati soluta molestias</label>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
      </span>
      <span class="tab">
        <input id="tab-four" type="checkbox" name="tabs">
        <label for="tab-four">Lorem ipsum dolor sit amet</label>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
      </span>
    </div>
  </div>
</div>