<section class="find-container">
  <div fxFlex="50" fxLayoutAlign="center start" class="find-text">
    <div fxFlex="60" fxLayout="column">
      <h2>Encontre o Personal Banker mais próximo de você</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus leo eu ex pretium, vel blandit turpis sodales. Suspendisse potenti.</p>
      <div fxFlex="100" class="find-input">
          <input fxFlex="80" type="text" placeholder="Digite sua cidade…" />
          <button fxFlex="20" class="search-button"></button>
      </div>
    </div>
  </div>
  <div fxFlex="50" class="find-map">
  </div>
</section>