.footer {
	padding: 80px 0;
	min-height: 180px
}

.footer-columnA {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.footer-columnA p {
	font-size: 0.8rem;
	line-height: 1rem;
	color: #AAA;
	margin: 5px 0;
}
.footer-columnA .logo {
	width: 333px;
	height: auto;
}

.footer-columnA .footer-midia {
	margin-top: 40px;
	display: block;
	padding: 0;
	margin: 0;

}

.footer-columnA .footer-midia li {
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	margin-top: 40px;
}

.footer-columnA .footer-midia li:first-child {
	margin-left: 0;
}

.footer-columnA .footer-midia li a {
	transition: 0.5s;
}

.footer-columnA .footer-midia li a:hover {
	opacity: 0.75;
}

.footer-columnA .footer-midia li img {
	width: 41px;
	height: auto;
}

.footer-columnB ul {
	margin: 0 !important;
	padding: 0 !important;
}

.footer-columnB {
	display: inline-block;
	width: 50%;
	text-align: left;
	
}
.footer-columnB img {
	height: 50px;
	margin: 10px 0;
}
.footer-columnB img.margin {
	margin: 10px;
}
.footer-columnB ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin-left: 94px !important;
}
.footer-columnB ul li {
	text-align: left;
	margin-bottom: 0 !important;
}
.footer-columnB > * {
	vertical-align: top;
}
.footer-columnB ul li a {
	display: inline-block;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.5s;
}
.footer-columnB ul li a:hover {
	color: #5F7DEF;
}

@media only screen and (max-width: 1000px) {
	.footer-columnA,
	.footer-columnB {
		text-align: center;
		width: 100%;
	}
	.footer-columnB {
		padding: 30px 0;
	}
	.footer-columnB ul {
		margin: 0;
	}
}

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 480px) {
	.footer-columnA span img {
		margin: 0 10px;
	}
	.footer-columnA p {
		font-size: 9px;
		line-height: 12px;
	}
	.footer-columnB img {
		height: 32px;
	}
}