<div class="footer bg-gray" name="footer" id="footer">
  <div class="container">
    <div class="footer-columnA">
      <img src="/assets/images/logo/logo-complete-white.svg" class="logo" />
      <span>
        <img src="/assets/images/elements/social-facebook.svg" />
        <img src="/assets/images/elements/social-linkedin.svg" />
        <img src="/assets/images/elements/social-instagram.svg" />
        <img src="/assets/images/elements/social-youtube.svg" />
      </span>
    </div>
    <div class="footer-columnB">
      <ul>
        <li><a href="#openbank">O que é Openbank</a></li>
        <li><a href="#products">Serviços</a></li>
        <li><a href="#personal">Personal Bankers</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Segurança</a></li>
        <li><a href="#">Termos de uso</a></li>
        <li><a href="#">Carreira</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer bg-black">
  <div class="container">
    <div class="footer-columnA">
      <p>©Franq 2019 - Todos os direitos reservados -</p>
      <p>FRANQ SERVIÇOS DE ADMINISTRAÇÃO E CORRESPONDENTE BANCÁRIO S.A.</p>
      <p>CNPJ 20.265.267/0001-42 - Rio Tavares Central - Campeche</p>
      <p>Florianópolis - SC, Brasil - CEP 88048-300</p>
    </div>
    <div class="footer-columnB">
      <img src="/assets/images/labels/selo_fenacor.png" class="margin" />
      <img src="/assets/images/labels/selo_anbima.png" class="margin" />
      <img src="/assets/images/labels/selo_b3.png" />
      <img src="/assets/images/labels/selo_1.png" />
      <img src="/assets/images/labels/selo_2.png" />
      <img src="/assets/images/labels/selo_3.png" />
      <img src="/assets/images/labels/selo_4.png" />
    </div>
  </div>
</div>