.about-franq {
    width: 100%;
    background: url(../../../../assets/images/bkg-section-6.png) center no-repeat;
    background-size: cover;
    height: auto;
    padding: 75px 0;
  }
  
  .about-franq h2 {
    font-size: 1.9em;
    font-weight: 600;
    color: #5F7DEF;
    text-transform: uppercase;
    margin-bottom: 30px !important;
    line-height: 37px;
  }
  
  .about-franq h4 {
    font-size: 2.7em;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 60px !important;
    line-height: 38px;
  }
  
  .about-franq p {
    font-weight: 400;
    font-size: 1.5em;
    color: #B9BDD1;
    line-height: 25px;
  }
  