.about-franq {
    width: 100%;
    background: url(../../../../assets/images/bkg-section-6.png) center no-repeat;
    background-size: cover;
    height: auto;
    padding: 147px 0;
  }
  
  .about-franq h2 {
    font-size: 2.9em;
    font-weight: 600;
    color: #5F7DEF;
    padding: 0;
    margin-bottom: 40px;
    line-height: 57px;
  }
  
  .about-franq h4 {
    font-size: 4.2em;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 80px;
    line-height: 59px;
  }
  
  .about-franq p {
    font-size: 2.2em;
    font-weight: 600;
    color: #B9BDD1;
    line-height: 34px;
  }
  