<section class="about-franq" id="franq">
  <div class="container">
    <div class="content">
      <div class="grid-5">
        <h2>Sobre a Franq</h2>
        <h4>Uma plataforma de serviços financeiros que conecta Personal Bankers a clientes, de forma segura
          e confiável.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus leo eu ex pretium, vel
          blandit turpis sodales. Suspendisse potenti. Nunc placerat mauris nec risus hendrerit, et
          malesuada.</p>
      </div>
    </div>
  </div>
</section>