<section class="franqer">
  <a class="btn-up"></a>
  <div class="container">
    <div class="current-franqer grid-2">
      <img class="franqer-personal" [src]="franqer?.image.thumbnail" alt="">
    </div>
    <div class="info-page grid-2">
      <h4>Página de</h4>
      <h3>{{ franqer?.name }}</h3>
      <p>{{ franqer?.profession }}</p>
      <img src="../../../assets/images/img-aval.png" alt="">
      <a href="">Ver avaliações sobre Lauro</a>
    </div>
    <div class="info-franqer grid-2">
      <h4 id="info-franqer-title">Sobre {{ getFirstName(franqer?.name) }}</h4>

      <!-- TODO: fazer a trativa para o resumo do franqer -->
      <p>Bacharel em Economia</p>
      <p>25 anos de mercado</p>
      <p>Ex Gerente geral Itau</p>
      <p>Certificaçoes: CPA 10 e CPA 20</p>
      <a href="">Saiba mais</a>
    </div>
    <div class="contact-franqer grid-2">
      <h4>Entre em contato com {{ getFirstName(franqer?.name) }}</h4>
      <a [href]="getWhatsappLink(franqer?.phone)" target="_blank">
        <div class="contact-item phone">
          <span>{{ franqer?.phone }}</span>
        </div>
      </a>
      <div class="contact-item email">
        <span>{{ franqer?.email }}</span>
      </div>
    </div>
    <div class="share-franqer grid-2">
      <div class="row">
        <div class="social">
          <span id="share-page">Compartilhar página</span>
          <div class="social-media">
              <share-buttons
                [theme]="'franq'"
                [include]="['facebook','linkedin','whatsapp','email']"
                [show]="4"
                [size]="-14"
                [url]="shareLink"
                [autoSetMeta]="false"
              ></share-buttons>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="assistant">
          <div class="grid-5">
            <img [src]="franqer?.assistant?.image.thumbnail" alt="">
          </div>
          <div class="grid-7">
            <span>Assistente:</span>
            <span id="franqer-assistant-name">{{ franqer?.assistant?.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
