<div class="products" name="products" id="products">
    <div class="container">
      <div class="products_title">
        <h3>Todos os tipos de serviços financeiros,<br />à sua disposição. Escolha o ideal para você.</h3>
      </div>
      <div class="tabs">
        <div class="tab border-bottom">
          <input type="radio" id="tab-1" name="tab_products" checked="checked">
          <label for="tab-1" class="credit">Crédito</label>
          <div class="content">
            <ul>
              <li><a href="#">Consórcio</a></li>
              <li><a href="#">Crédito com Garantia</a></li>
              <li><a href="#">Crédito sem Garantia</a></li>
              <li><a href="#">Crédito imobiliário</a></li>
              <li><a href="#">Financiamento de veículos</a></li>
              <li><a href="#">Peer-to-peer</a></li>
            </ul>
          </div> 
        </div>
        <div class="tab border-bottom">
          <input type="radio" id="tab-2" name="tab_products">
          <label for="tab-2" class="insurance">Seguro</label>
          <div class="content">
            <p>As Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div> 
        </div>
        <div class="tab border-bottom">
          <input type="radio" id="tab-3" name="tab_products">
          <label for="tab-3" class="investiment">Investimentos</label>
          <div class="content">
            <p>Aasdas sorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div> 
        </div>
        <div class="tab border-bottom">
          <input type="radio" id="tab-4" name="tab_products">
          <label for="tab-4" class="cards">Cartões</label>
          <div class="content">
            <p>Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div> 
        </div>
        <div class="tab last">
          <input type="radio" id="tab-5" name="tab_products">
          <label for="tab-5" class="companies">Pessoa Jurídica</label>
          <div class="content">
            <p>Simply dummy text of the printing and typesetting industry</p>
          </div> 
        </div>
      </div>
    </div>
  </div>