<div class="principal" name="principal" id="principal">
  <div class="container">
    <div class="headline">
      <h3 class="animated fade-in-down delay-1">Uma forma mais pessoal de gerenciar sua vida financeira</h3>
    </div>
    <div class="form animated fade-in-down delay-2">
      <form>
        <input type="text" name="name" id="name" placeholder="Seu nome" />
        <input type="email" id="email" placeholder="Seu email" />
          <input type="button" id="send" value="Abra uma conta grátis &#10132;" />
      </form>
    </div>
  </div>
</div>