<div class="openbank" name="openbank" id="openbank">
    <div class="container">
      <div class="openbank-columnA">
        <h2>O que é Open Bank?</h2>
        <h3>Mais liberdade para você escolher somente os melhores serviços financeiros.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus leo eu ex pretium, vel blandit turpis sodales. Suspendisse potenti. Nunc placerat mauris nec risus hendrerit, et malesuada.</p>
      </div>
      <div class="openbank-partners">
        <h2>Nossos parceiros</h2>
        <div class="slider">
          <div class="slider_inner">
            <div class="slider_contents">
              <ul>
                <li><img src="/assets/images/products/product-zurich.png" /></li>
                <li><img src="/assets/images/products/product-guide.png" /></li>
                <li><img src="/assets/images/products/product-santander.png" /></li>
                <li><img src="/assets/images/products/product-c6bank.png" /></li>
                <li><img src="/assets/images/products/product-nubank.png" /></li>
                <li><img src="/assets/images/products/product-lendico.png" /></li>
              </ul>
            </div>
            <div class="slider_contents">
              <ul>
                <li><img src="/assets/images/products/product-zurich.png" /></li>
                <li><img src="/assets/images/products/product-guide.png" /></li>
                <li><img src="/assets/images/products/product-santander.png" /></li>
                <li><img src="/assets/images/products/product-c6bank.png" /></li>
                <li><img src="/assets/images/products/product-nubank.png" /></li>
                <li><img src="/assets/images/products/product-lendico.png" /></li>
              </ul>
            </div>
            </div>
        </div>
        <br /><br />
      </div>
      <div class="openbank-columnB">
        <img src="/assets/images/products/products.png" />
      </div>
    </div>
    <div class="container">
      <hr />
    </div>
    <div class="container">
      <div class="openbank-partners">
        <h2>Nossos parceiros</h2>
        <div class="slider">
          <div class="slider_inner">
            <div class="slider_contents">
              <ul>
                <li><img src="/assets/images/products/product-zurich.png" /></li>
                <li><img src="/assets/images/products/product-guide.png" /></li>
                <li><img src="/assets/images/products/product-santander.png" /></li>
                <li><img src="/assets/images/products/product-c6bank.png" /></li>
                <li><img src="/assets/images/products/product-nubank.png" /></li>
                <li><img src="/assets/images/products/product-lendico.png" /></li>
              </ul>
            </div>
            <div class="slider_contents">
              <ul>
                <li><img src="/assets/images/products/product-zurich.png" /></li>
                <li><img src="/assets/images/products/product-guide.png" /></li>
                <li><img src="/assets/images/products/product-santander.png" /></li>
                <li><img src="/assets/images/products/product-c6bank.png" /></li>
                <li><img src="/assets/images/products/product-nubank.png" /></li>
                <li><img src="/assets/images/products/product-lendico.png" /></li>
              </ul>
            </div>
            </div>
        </div>
        <br /><br />
      </div>
        <br /><br />
    </div>
  </div>