.openbank {
	background-color: #FFF;
	background-image: url('/assets/images/background/bg-gradient-white.svg'), url('/assets/images/background/bg-effects-parts.svg');
	background-position: center center, center center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
}
.openbank-columnA {
	display: inline-block;
	width: 45%;
	padding-bottom: 180px;
	padding-right: 85px;
}

.openbank-columnA h2 {
	font-size: 2.2em;
	font-weight: 600;
	line-height: 43px;
	margin-bottom: 18px !important;
}

.openbank-columnA h3 {
	font-size: 2.9em;
	font-weight: 700;
	line-height: 38px;
}

.openbank-columnA p {
	font-size: 1.5em;
	line-height: 25px;
	margin-top: 45px !important;
}

.openbank-columnB {
	display: inline-block;
	width: 55%;
}
.openbank-columnB img {
	
}
.openbank-partners ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 800px;
}
.openbank-partners ul li {
	display: inline-block;
	padding: 10px;
	margin: 0;
	width: 32%;
}
.openbank-partners ul li img {
	width: 100%;
}
.openbank .slider {
	width: 800px;
	height: 260px;
}

@media only screen and (max-width: 1000px) {
	.openbank-columnA,
	.openbank-columnB {
		width: 100%
	}
	.openbank-columnB img {
		width: 80%;
	}
	.openbank-partners {
		text-align: center;
	}
}

@media only screen and (max-width: 740px) {
	.openbank-partners ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.openbank-partners ul li img {
		/* height: 42px; */
	}
	.openbank .slider {
		width: 100%;
		height: 230px;
	}
}

@media only screen and (max-width: 480px) {
	.openbank .slider {
		width: 100%;
		height: 180px;
	}
}