.reviews-container {
    background: url(../../../../assets/images/bkg-section-2.png) center no-repeat;
    background-size: cover;
    height: 711px;
    padding: 55px 0;
}

.reviews-container h2 {
    font-size: 3em;
    color: #B0B4C6;
    text-align: center;
    margin-bottom: 40px !important;
    line-height: 50px;
}

.reviews-container .carousel {
    padding: 0 8%;
}

.reviews-container .slide-item {
    width: 354px;
    height: 473px;
    padding: 40px;
    margin: 0 auto;
    background-color: #ffffff;
}

.reviews-container .slide-item .item-img {
    margin-bottom: 28px;
}

.reviews-container .slide-item .user-text {
    font-size: 1.4em;
    line-height: 28px;
    height: 100%;
    overflow: scroll;
    max-height: 168px;
}

.reviews-container .slide-item .user-image {
    margin-top: 24px;
    width: 76px;
    height: auto;
}

.reviews-container .slide-item .user-name {
    margin-top: 28px;
    margin-bottom: 8px;
    font-size: 1.9em;
}

.reviews-container .slide-item .user-kind {
    font-size: 1.5em;
    color: #A3A7BE;
}